* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
  scroll-behavior: smooth;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease;
  z-index: 999;
}

/* Transparent initially */
.navbar.transparent {
  background: transparent;
}

/* White on scroll */
.navbar.scrolled {
  background: white;
  box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 600;
  color: #ff6b6b;
}

/* Mouse icon animation */
.logo span {
  display: inline-block;
  margin-right: 8px;
  animation: floatMouse 2s ease-in-out infinite;
}

/* Floating animation */
@keyframes floatMouse {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-6px); }
  100% { transform: translateY(0px); }
}

/* NAV LINKS */
.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #222;
  font-weight: 500;
  border-radius: 20px;
  padding: 5px 10px ;
  transition: 0.2s;
}

.nav-links a:hover {
  color: #00b8a8;
  background-color: #00ffea2c;
}

/* HAMBURGER */
.menu-toggle {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* MOBILE */
@media(max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 63px;
    right: 0;
    background: white;
    flex-direction: column;
    width: 100%;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease;
  }

  .nav-links.active {
    max-height: 400px;
    padding: 20px 0;
  }

  .nav-links li {
    margin: 15px 0;
  }
}

.hero-main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 10px 60px 10px;
  background-color: #b8f8c7;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  width: 100%;
  gap: 40px;
  flex-wrap: wrap; /* allows column on small screens */
}

.hero-left {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-badge {
  display: inline-block;
  padding: 6px 12px;
  background-color: #fceb58;
  color: #000;
  font-size: 14px !important;
  font-weight: 500;
  border-radius: 20px;
  margin-bottom: 20px;
}

.hero-left h1 {
  font-size: 72px;
  margin: 0 0 20px 0;
  text-align: center;
  width: 100%;
  line-height: 1.2;
  color: #dc3545;
}

.hero-left h1 span {
  color: #0a74da; /* dark sky blue */
}

.hero-left h4 {
  font-size: 36px;
  color: #000;
  text-align: center;
  font-family: "Caveat", cursive;
  margin: 0 0 15px 0;
  font-weight: 400;
}

.hero-left p {
  font-size: 14px !important;
  font-family: cursive;
  color: gray;
  margin-bottom: 25px;
  text-align: center;
}

.hero-buttons {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.hero-buttons button {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.btn-green {
  background-color: #0a74da;
  color: #fff;
}
.btn-red {
  background-color: #ff7784;
  color: #fff;
}
.hero-right {
  position: relative;
  flex: 1;
  min-width: 300px;
}

.hero-right-image{
  width: 90%;
  height: auto;
  border: 2px solid #fff;
  border-radius: 20px;
  transition: all 0.5s;
}

.hero-right-image:hover{
  transform: rotate(-5deg);
}
/* AGE CIRCLE */
.age-circle {
  position: absolute;
  top: -15px;   /* little above image */
  right: 30px; /* little outside top-right corner */
  background-color: #ffeb3b; /* yellow bg */
  color: #8b4513; /* brown text */
  font-weight: bold;
  text-align: center;
  padding: 12px;
  border-radius: 50%;
  z-index: 1;
  width: 80px;
  height: 80px;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  animation: float 2s ease-in-out infinite alternate;
}

/* UP AND DOWN FLOAT ANIMATION */
@keyframes float {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
/* FLOATING IMAGES */
.float-img-left1, .float-img-left2, .float-img-right, .h1-left-img {
  position: absolute;
  width: 50px; /* smaller size */
  height: 50px;
  z-index: 2;
  animation: float 3s ease-in-out infinite alternate;
}

.h1-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.h1-left-img {
  width: 40px;
  height: 40px;
  animation: float 2.5s ease-in-out infinite alternate;
}

.float-img-left1 {
  top: 250px; /* adjust according to spacing above h4 */
  left: 290px;
}

.float-img-left2 {
  top: 120px; /* adjust according to spacing after h1 */
  left: 150px;
}

.float-img-right {
  top: -50px; /* above right image */
  right: 250px;
}

/* FLOAT ANIMATION */
@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}
/* RESPONSIVE */
@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .hero-left h4 {
    font-size: 25px;
  }

  .hero-left p {
    font-size: 16px !important;
  }

  .hero-buttons {
    justify-content: center;
  }
  .hero-buttons button{
    font-size: 18px;
  }
.float-img-left2 {
    top: 83px;
}
.float-img-right {
    top: -50px;
    right: 280px;
}
}
.hero-wave {
    width: 100%;
    overflow: hidden;
    position: relative;
    bottom: 10px;
    line-height: 0;
}

.hero-wave svg {
    display: block;
    width: 100%;     /* stretch SVG full width */
    height: 100px;   /* wave height */
}


.home-about {
  width: 100%;
  padding: 40px 10px;
}

.home-about-container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

/* LEFT IMAGE */
.home-about-left {
  flex: 1;
  min-width: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-about-image-box {
  position: relative;
  height: 70%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #eee;
  border-radius: 20px;
  overflow: hidden;
  transform: rotate(-5deg);
  background-color: #e2fffd;
  transition: all 0.5s;
}
.home-about-image-box:hover{
  transform: rotate(0deg);
}
.home-about-image-box img {
  width: 100%;
  display: block;
  border-radius: 20px;
}

.home-badge {
  position: absolute;
  bottom: 15px;
  left: 15px;
  transform: rotate(-10deg);
  background-color: #ffccd5;
  color: #000;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 14px;
}

/* RIGHT CONTENT */
.home-about-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  min-width: 300px;
}

.about-badge {
  display: inline-block;
  background-color: #75ff95; /* green */
  color: #fff;
  padding: 8px 16px;
  color: green;
  font-weight: 500;
  border-radius: 20px;
  margin-bottom: 15px;
}

.home-about-right h2 {
  color: #dc3545; /* red */
  font-size: 36px;
  margin-bottom: 20px;
  line-height: 1.3;
}

.home-about-right p {
  color: #000;
  font-size: medium;
  font-family: cursive;
  margin-bottom: 15px;
}

.home-about-right .red-text {
  color: #dc3545;
  font-weight: bold;
}

/* FEATURE BOXES */
.feature-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}

.feature-box {
  display: flex;
  align-items: center;
  flex: 1 1 calc(50% - 20px);
  gap: 15px;
  border: 2px solid #eee;
  padding: 5px ;
  border-radius: 10px;
}

.feature-box img {
  width: 50px;
  height: 50px;
}

.feature-text h3 {
  color: #dc3545; /* red heading */
  margin: 0 0 5px 0;
  font-size: 18px;
}

.feature-text p {
  color: #000; /* black text */
  margin: 0;
  font-family: cursive;
  font-size: medium;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .home-about-container {
    flex-direction: column;
    align-items: center;
  }

  .feature-box {
    flex-direction: column;
    flex: 1 1 100%;
  }

  .home-about-right h2 {
    font-size: 28px;
  }
}


.home-cast-main{
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 10px;
  background-color: #b8f8c7;
}
.home-cast-inner{
  height: fit-content;
  max-width: 1400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.home-cast-badge{
  height: fit-content;
  width: fit-content;
  padding: 10px;
  font-size: small;
  font-weight: 500;
  border-radius: 20px;
  background-color: white;
  color: #000;
}
.home-cast-inner h2{
  text-align: center;
  color: #dc3545;
  font-size: 45px;  
}
.home-cast-inner p{
  text-align: center;
  color: gray;
      font-family: "Caveat", cursive;
  font-size: large;
}
.home-cast-card-container{
  height: fit-content;
  width: 100%;
  display: flex;
  padding: 30px 0px;
  justify-content: center;align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.home-cast-card {
  max-width: 340px;
  width: 90%;
  height: 450px;
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  transition: transform 0.5s ease;
  cursor: pointer;
}

.home-cast-card:hover {
  transform: rotate(5deg);
}

/* IMAGE CONTAINER */
.cast-image-container {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cast-image-container img {
  width: auto;
  height: 250px;
  object-fit: contain;
  display: block;
  transition: transform 0.5s ease;
}

.home-cast-card:hover .cast-image-container img {
  transform: scale(1.05);
}

/* BADGE */
.cast-badge {
  transform: translateX(-50%);
  background-color: #ffeb3b; /* yellow bg */
  color: #8b4513; /* brown text */
  padding: 5px 10px;
  border-radius: 12px;
  font-weight: bold;
  font-size: x-small;
  z-index: 2;
}

/* CONTENT */
.cast-content {
  padding: 15px 20px;
  text-align: center;
}

.cast-content h3 {
  margin: 10px 0 8px 0;
  font-size: 22px;
  color: #dc3545; /* red name */
}

.cast-content p {
  font-size: large;
  color: #333;
  margin-bottom: 12px;
  line-height: 1.4;
}

.cast-content a {
    font-size: large;
  color: #333;
  margin-bottom: 12px;
  line-height: 1.4;
  text-decoration: none;
  font-family: "Caveat", cursive;
}


.home-sample-story-page-main-container{
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1400px;
  padding: 60px 10px;
}
.home-sample-story-box{
  height: fit-content;
  width: 100%;
  max-width: 800px;
  border-radius: 20px;
  border: 2px solid #ffddc5;
  padding: 10px;
  position: relative;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-sample-page{
  position: absolute;
  right: 10px;
  top: 5px;
  color: #8b4513;
  font-size: small;
  font-family: "Caveat", cursive;
}
.sample-box-float-book{
  height: 30px;
  width: 30px;
  object-fit: contain;
  position: absolute;
  left: 10px;
  top: 5px;
}
.sample-box-float-mouse {
  height: 100px;
  width: 100px;
  object-fit: contain;
  position: absolute;
  left: -80px;
  top: -40px;
  animation: floatMouse 2s ease-in-out infinite alternate;
}

/* FLOAT UP AND DOWN */
@keyframes floatMouse {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px); /* moves 15px up */
  }
}
.home-sample-story-box h3{
  padding-top: 50px;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  color: #dc3545;
}
.home-sample-story-box h3 span{
  font-size: 18px;
}
.home-sample-story-box p {
  font-family: "Caveat", cursive;
  text-align: left;
  padding: 0 30px;
  text-align: center;
  font-size: x-large;
  line-height: 1.6;
  width: 100%;
}

.home-sample-story-box p span {
  color: #00f1dd;
  font-size: 50px;
  float: left;
  line-height: 1;
  margin-right: 8px;
}
.home-sample-inner-box{
  height: fit-content;
  width: 93%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border: 2px solid #ffc609;
  background-color: #ffc64b2a;
  border-radius: 30px;
}
.home-sample-inner-box p{
  font-size: 25px;
  font-weight: 600;
  color: #8b4513;
  text-align: center;
}
.second-last-blue-sample{
  font-size: 25px !important;
  color: #00b8a8;
  text-align: center !important; 
}
.continue-text-sample{
  text-align: center !important;
  color: #8b4513;
  font-size: 25px !important;
}

.home-adventure-main-contianer{
  height: fit-content;
  width: 100%;
  background: linear-gradient(135deg, hsl(45 95% 80%) 0%, hsl(20 90% 78%) 50%, hsl(345 80% 85%) 100%);
  padding: 60px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.home-adventure-main-contianer span{
  height: fit-content;
  width: fit-content;
  background-color: white;
  color: #8b4513;
  font-size: small;
  padding: 5px 20px;
  font-weight: bold;
  border-radius: 20px;
}
.home-adventure-main-contianer h2{
  text-align: center;
  font-size: 50px;
  color: #dc3545;
}
.home-adventure-main-contianer p{
  font-family: "Caveat", cursive;
  text-align: center;
  font-size: x-large;
}
.home-fun-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px 10px;
  background: none; /* no background */
}

.fun-card {
  width: 250px;
  height: 250px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  text-align: center;
  background: #fff; /* card background */
}

.fun-card:hover {
  transform: translateY(-5px);
}

.fun-card-image {
  width: fit-content;
  height: fit-content;
  border-radius: 15px;
  padding: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  overflow: hidden;
}

.fun-card-image img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.fun-card h3 {
  font-size: 18px;
  color: #dc3545; /* red heading */
  margin: 5px 0;
}

.fun-card p {
  font-size: large;
  color: #000;
  margin: 5px 0 10px 0;
}

.fun-card a {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background-color: #dc3545;
  padding: 10px 15px;
  border-radius: 20px;
  text-decoration: none;
}

/* Responsive */
@media (max-width: 768px) {
  .fun-card {
    width: 100%;
  }
}


/* SECTION */
.home-about-author {
  width: 100%;
  padding: 80px 10px;
  background-color: #f2f7f9;
}

.home-about-author-container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  align-items: center;
}

/* LEFT IMAGE */
.author-left {
  flex: 1;
  min-width: 300px;
  position: relative;
}
.author-image-box {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; /* fix height for effect */
}

.author-bg-box {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: #ffeb3b;
  top: 0;
  left: 25%;
  border-radius: 20px;
  z-index: 1;
  transform: rotate(-5deg); /* slightly tilted */
}

.author-image-box img {
  position: absolute;
  top: 20px;       /* leave space around */
  left: 25%;
  height: 300px;
  width: 300px;
  object-fit: contain;
  border-radius: 20px;
  z-index: 2;
  transition: transform 0.5s ease;
  transform: rotate(5deg); /* rotate opposite of box for dynamic look */
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
/* BADGE */
.author-badge {
  position: absolute;
  left: 15%;
  bottom: -20px;
  transform: rotate(20deg);
  background-color: #ffcc00;
  color: #000;
  padding: 6px 12px;
  border-radius: 12px;
  font-weight: bold;
  z-index: 3;
}

/* IMAGE ROTATION ANIMATION */
@keyframes rotateImg {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(2deg); }
  100% { transform: rotate(0deg); }
}

/* RIGHT CONTENT */
.author-right {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.author-section-badge {
  display: inline-block;
  background-color: #96ffaf;
  color: green;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.author-right h2 {
  font-size: 35px;
  color: #dc3545;
  margin-bottom: 20px;
}

.author-right h3 {
  font-family: "Caveat", cursive;
  font-size: 25px;
  font-weight: 600;
  color: #00b8a8;
  margin-bottom: 20px;
}

.author-right p {
  font-size: large;
  font-family: "Caveat", cursive;
  color: #000;
  margin-bottom: 15px;
  line-height: 1.6;
}

/* BADGES ROW */
.author-badges-row {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.author-badge-small {
  display: inline-block;
  color: #000;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .home-about-author-container {
    flex-direction: column;
    align-items: center;
    gap: 100px;
    text-align: center;
  }

  .author-badges-row {
    justify-content: center;
  }
  .author-bg-box {
    left: 0;
  }
  .author-image-box img {
    left: 1%;
  }
  .author-badge {
    left: -8%;
  }
}


/* GENERAL SECTION */
.stay-in-touch {
  width: 100%;
  padding: 80px 20px;
  background: linear-gradient(to bottom, #ccefff, #dfffd9);
  text-align: center;
  font-family: 'Caveat', cursive;
}

.stay-in-touch .top-label {
  display: inline-block;
  background: #fff8ee;
  color: #8b5e3c;
  padding: 6px 12px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 15px;
}

.stay-in-touch h2 {
  font-size: 36px;
  color: #ec6c49;
  margin-bottom: 10px;
}

.stay-in-touch .subtitle {
  font-size: 18px;
  font-family: "Caveat", cursive;
  color: #555;
  margin-bottom: 40px;
}

/* CARDS ROW */
.cards-row {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

/* TOUCH CARD */
.touch-card {
  background: #fff8ee;
  border-radius: 20px;
  padding: 30px 20px;
  width: 100%;
  max-width: 450px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
  text-align: left;
  position: relative;
}

/* ICON CIRCLE */
.icon-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-bottom: 15px;
}

.icon-circle.pink {
  background-color: #ffc0cb;
}

.icon-circle.yellow {
  background-color: #ffe082;
}

/* CARD TEXT */
.touch-card h3 {
  font-size: 20px;
  color: #ec6c49;
  margin-bottom: 10px;
}

.touch-card p {
  font-size: large;
  color: #333;
  font-family: "Caveat", cursive;
  margin-bottom: 20px;
  line-height: 1.4;
}

/* BUTTONS */
.touch-card .btn-red,
.touch-card .btn-blue {
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-red {
  background-color: #ec6c49;
  color: #fff;
}

.subscribe-row {
  display: flex;
  gap: 10px;
}

.subscribe-row input {
  flex: 1;
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.btn-blue {
  background-color: #0a74da;
  color: #fff;
}


/* RESPONSIVE */
@media (max-width: 768px) {
  .cards-row {
    flex-direction: column;
    align-items: center;
  }

  .touch-card {
    width: 90%;
    margin-bottom: 20px;
  }

  .subscribe-row {
    flex-direction: column;
  }

  .subscribe-row input,
  .subscribe-row button {
    width: 100%;
  }
}

footer{
  background-color: #d25c3e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  padding: 60px 10px;
}
footer span{
  text-align: center;
  width: 100%;
  font-size: 25px;
}
footer h2{
  color: white;
  font-size: 35px;
  text-align: center;
  font-family: "Caveat", cursive;
}
.copy-right-text{
  text-align: center;
  width: 100%;
  color: white;
  font-size: small !important;
}
.footer-last-text{
  text-align: center;
  font-family: "Caveat", cursive;
  width: 100%;
  color: white;
  font-size: large !important;  
}

.catalog-section {
  padding: 60px 20px;
  background: linear-gradient(135deg, hsl(45 95% 80%) 0%, hsl(20 90% 78%) 50%, hsl(345 80% 85%) 100%);
}

.catalog-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 60px;
  align-items: center;
}

/* LEFT SIDE */
.catalog-left {
  width: 32%;
}

.catalog-left h2 {
  font-size: 45px;
  margin-bottom: 15px;
  color: #dc3545;
  letter-spacing: 1px;
}

.catalog-left p {
  font-size: 20px;
  color: #555;
  margin-bottom: 30px;
  line-height: 1.6;
}

.catalog-btn {
  display: inline-block;
  background: #ec6c49;
  color: #fff;
  padding: 14px 32px;
  border-radius: 40px;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
}

/* RIGHT SIDE */
.catalog-right {
  width: 68%;
  position: relative;
}

.swiper {
  padding-bottom: 70px; /* space for arrows */
}

/* CARD */
.swiper-slide {
  text-align: center;
  transition: 0.3s;
}

.swiper-slide img {
  width: 200px;
  height: 270px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 15px 25px rgba(0,0,0,0.25);
}


.swiper-slide h4 {
  margin-top: 14px;
  font-size: 20px;
  font-weight: 500;
}

.swiper-slide span {
  color: #e60000;
  font-weight: bold;
}

/* 🔥 ARROWS BOTTOM RIGHT */
.swiper-button-next,
.swiper-button-prev,.swiper-button-next:after,.swiper-button-prev:after {
  display: none;
}

/* RESPONSIVE */
@media(max-width: 768px){
  .catalog-container {
    flex-direction: column;
    text-align: center;
  }

  .catalog-left,
  .catalog-right {
    width: 100%;
  }

  .catalog-left h2 {
    font-size: 40px;
  }
}

.max-small-img{
  height: 80px;
  width: auto;
  object-fit: contain;
}