* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease;
  z-index: 999;
}

/* Transparent initially */
.navbar.transparent {
  background: transparent;
}

/* White on scroll */
.navbar.scrolled {
  background: white;
  box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 600;
  color: #ff6b6b;
}

/* Mouse icon animation */
.logo span {
  display: inline-block;
  margin-right: 8px;
  animation: floatMouse 2s ease-in-out infinite;
}

/* Floating animation */
@keyframes floatMouse {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-6px); }
  100% { transform: translateY(0px); }
}

/* NAV LINKS */
.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #222;
  font-weight: 500;
  border-radius: 20px;
  padding: 5px 10px ;
  transition: 0.2s;
}

.nav-links a:hover {
  color: #00b8a8;
  background-color: #00ffea2c;
}

/* HAMBURGER */
.menu-toggle {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* MOBILE */
@media(max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background: white;
    flex-direction: column;
    width: 100%;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease;
  }

  .nav-links.active {
    max-height: 400px;
    padding: 20px 0;
  }

  .nav-links li {
    margin: 15px 0;
  }
}

.hero-main{
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 10px 60px 10px;
    background-color: #00b8a934;
}